* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;


}

body{
  background: rgb(238, 174, 202);
background: radial-gradient(
  circle,
  rgba(238, 174, 202, 1) 0%,
  rgba(148, 187, 233, 1) 100%
  );

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;


 } 





 

/*media queries for mobile*/
@media only screen  and (min-width: 480px) {


    .container {
      
        display: grid;
        grid-template-columns: repeat(1fr);
        gap: 3em;
        margin: 3rem 5rem ;
       
      }

      /*styling direct child img*/
        .img-food > img{
         width: 100%;
         height: 350px;
         object-fit: cover;
         object-position: center;
         border: solid 5px rgb(209, 139, 189);
         border-radius: 5%;
         outline: dashed 2px rgb(94, 170, 193);

       }

         /*syling class img-food*/
         .img-food {
          position: relative;
          }


       .img-food p {
        position: absolute;
        background-color: rgba(137, 43, 226, 0.263);
        width: 100% ;
        /* top: 71%; */
        padding: 1.5rem;
        color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 6px;
        height: 30%;
       }


 }


/*media queries for tablet */
@media only screen and (min-width:768px) {
  

    .container{

      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 3em;
      margin: 3rem 9rem ;
      
      }
      


      /*styling direct child img*/
        .img-food > img{
         width: 100%;
         height: 190px;
         object-fit: cover;
         object-position: center;
         overflow: hidden; 
         border: solid 5px rgb(209, 139, 189);
         border-radius: 5%;
         outline: dashed 2px rgb(94, 170, 193);


       }

       /*syling class img-food*/
        .img-food {
       position: relative;
        }


       .img-food p {
        position: absolute;
        background-color: rgba(137, 43, 226, 0.263);
        width:100%;
        top: 80%;
        padding: 1.5rem;
        color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        margin-top: -19px;
        height: 18%;
       }
 }

/*media queries for desktop */
@media only screen  and (min-width:1200px){
 

.container{

display: grid;
grid-template-columns:repeat(3, 1fr) ;
gap: 3em;
margin: 3rem 5rem ;
text-align: center;
}


/*styling direct child img*/
  .img-food > img{

   width: 416px;
   height: 320px;
   border: solid 8px rgb(209, 139, 189);
   object-fit: cover;
   object-position: center;
   overflow: hidden; 
   border-radius: 5%;
   outline: dashed 2px rgb(94, 170, 193);
 }

 /*syling class img-food*/
.img-food {
  position: relative;
  width: 100%;
  max-width: 600px;
  
}

 .img-food p {
  position: absolute;
  background-color: rgba(137, 43, 226, 0.263);
  width:100%;
  -webkit-transform: translate(-50% -50%) ;
  text-align: center;
  transform: translate(-50% -50%);
  box-sizing: border-box;
  padding: 1rem;
  color: aliceblue;
  display: flex;
  /*  */
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 6px;
  height: 24%;
  

 }
}



/*styling logo*/
#logo {
  width: 100px;
  height: auto;
  border-radius: 40%;
}

/* header styling*/
.header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/*styling navigation header links*/
.nav-header {
  color: beige;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  list-style: none;
}



/*styling a-child*/
.nav-header a {
  text-decoration: none;
  cursor: pointer;
}

.nav-header a:link{
  color: aliceblue;
}  

a:visited {
  color: inherit;
}

.nav-header a:hover {
  color: rgb(63, 116, 121);
  font-size: 1.3rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: ease .5s;
}

ul li a {
  font-size: 1.2rem;
}

/*Styling hero-nav*/
.navigation-bar {
  background: rgb(152, 226, 226);
  padding: 5px;
  cursor: pointer;
  
}

/*styling navigation bar*/
.navigation-bar {
  display: flex;
  justify-content: space-around;
}

.navigation-bar li {
  list-style: none;
  color: rgb(59, 59, 100);
  font-size: 1.1rem;
}
.navigation-bar li:hover {
  background-color: rgba(63, 116, 121, 0.447);
  border: 2px dashed rgb(219, 155, 176);
  color: rgb(216, 235, 237);
  border-radius: 1rem;
  padding: 0 8px;
  transition: ease-in-out .3s;

}

hr{
    border-color: rgb(212, 146, 198);
}

/* swiper styling */
.swiper {
  width: 600px;
  height: 550px;
}

.swiper-slide {

object-fit: cover;

}


/*footer  general styling*/
.Footer-container{
    margin-top: 4rem;
    background-size: 10em;
    background-color: rgba(199, 69, 201, 0.534);


}
/*styling footer navigation bar*/
.footer-navbar{
    display: flex;
    justify-content: space-around;
    
}



li a:link{
   text-decoration:none;
   color:rgb(122, 49, 149) ;
   list-style: none;

}

.footer-navbar>li{
   color:rgb(122, 49, 149);
   list-style: none;
   
}

.footer-navbar a:visited{
color: inherit;
}

.footer-navbar a:hover{
    color: rgb(13, 73, 70);
    
}

/*adjusting logos and copywriting*/
.copyright{
    display: flex;
    justify-content: center;
    color: rgb(137, 28, 64);
}

.social-media-logos{
    display: flex;
    justify-content: center; 
    margin-left: 5em; 
    color: rgb(137, 28, 64);
}


